/* 基础配置 */

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.27em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.93em;
}

h6 {
    font-size: 0.77em;
}

p,
a {
    font-size: 1.1em;
}

.content__default code {
    font-size: 1.1em;
}


/* 界面配置 */

.hero img:hover {
    -webkit-animation: ani 3s linear infinite;
}

@keyframes ani {
    0% {
        box-shadow: 0 0 0px #e4f9f8;
    }
    25% {
        box-shadow: 0 0 30px #081c2d;
    }
    50% {
        box-shadow: 0 0 60px #4ba295;
    }
    75% {
        box-shadow: 0 0 30px #4ba295;
    }
    100% {
        box-shadow: 0 0 0px #e4f9f8;
    }
}